@tailwind base;
@tailwind components;

h1 {
  @apply text-3xl font-bold text-neutral-100;
}


h2 {
  @apply text-2xl font-bold text-neutral-100;
}

h3 {
  @apply text-xl font-bold text-neutral-100;
}

@tailwind utilities;

.link {
  @apply flex h-11 w-11 items-center justify-center rounded-full bg-transparent transition-all duration-200;
  @apply hover:bg-neutral-800;
}

.link--active {
  @apply bg-neutral-800;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
