@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

* {
  user-select: none;
  -moz-user-select: none;
}

#__next {
  @apply bg-neutral-500;
}

.link {
  @apply flex items-center justify-center w-11 h-11 rounded-full transition-all duration-200 bg-transparent;
  @apply hover:bg-neutral-800;
}

.link--active {
  @apply bg-neutral-800;
}

.btn--action {
  @apply bg-neutral-800 border-2 border-neutral-700 p-4 rounded-xl text-white transition-all duration-150;
  @apply hover:bg-neutral-700;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
